.css-examples {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  &__header {
    margin-top: 60px;
    font-size: 46pt;
  }

  &__handler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    margin: 100px 0 100px 0;
  }

  &__divider {
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,175,166,1) 25%, rgba(0,212,255,1) 50%, rgba(11,175,166,1) 75%, rgba(2,0,36,1) 100%);
    width: 80%;
    border-radius: 5px;
  }

  &__snake-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__snake-img-wrapper::before {
    content: "";
    top: -80px;
    left: -80px;
    right: -80px;
    bottom: -80px;
    position: absolute;
    background-image: conic-gradient(#bc00f1 30deg, transparent 120deg);
    animation: rotate 5s linear infinite;
    z-index: -1;
  }

  &__snake-img-wrapper img {
    width: 98%;
    height: 98%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__rainbow-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rainbow-img-wrapper::before {
    content: "";
    top: -80px;
    left: -80px;
    right: -80px;
    bottom: -80px;
    position: absolute;
    background: linear-gradient(
                    90deg,
                    rgba(255, 0, 0, 1) 0%,
                    rgba(255, 154, 0, 1) 10%,
                    rgba(208, 222, 33, 1) 20%,
                    rgba(79, 220, 74, 1) 30%,
                    rgba(63, 218, 216, 1) 40%,
                    rgba(47, 201, 226, 1) 50%,
                    rgba(28, 127, 238, 1) 60%,
                    rgba(95, 21, 242, 1) 70%,
                    rgba(186, 12, 248, 1) 80%,
                    rgba(251, 7, 217, 1) 90%,
                    rgba(255, 0, 0, 1) 100%
    );
    animation: rotate 5s linear infinite;
    z-index: -1;
  }

  &__rainbow-img-wrapper img {
    width: 98%;
    height: 98%;
    object-fit: cover;
    border-radius: 10px;
  }


  @keyframes rotate {
    to {
      transform: rotate(-360deg);
    }
  }
}

