.microservice {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  height: 100vh;
  width: 100%;

  padding-top: 60px;
  padding-left: 100px;

  &__description {
    display: flex;

    justify-content: center;
    flex-direction: column;

    width: Calc(100vw / 2);

  }

  &__introduction {
    display: flex;
    align-items: center;
    justify-content: center;

    width: Calc(100vw / 2);

  }

  &__paper {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

    background-color: black;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 12px 5px rgba(20, 24, 28, 0.2);
    -moz-box-shadow: 4px 4px 12px 5px rgba(20, 24, 28, 0.2);
    box-shadow: 4px 4px 12px 5px rgba(20, 24, 28, 0.2);

    height: 540px;
    width: 500px;
  }

  &__introduction-header {
    font-size: 24pt;
    width: 100%;
    text-align: center;
  }

  &__application-description {
    width: 50%;
    text-align: right;
    float: right;
    margin-left: auto;
  }

  &__background-video {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__ul {
    text-align: left;
    width: auto;
  }

  &__paragraph {
    margin-bottom: 15px;
    width: 60%;
  }

  &__solid-divider {
    border-bottom: #f58500 5px solid;
    margin-bottom: 5px;
    width: 60%;
  }
}

